<div>

  <ul class="nav">
    <li class="current_user">Logged in as <%=current_user.username%></li>
    <li><a href="/">Home</a></li>
    <li><a href="/users/profile">Profile</a></li>
    <li>
      <form action="/sessions" method="post">
	  	  <input type="hidden" name="_method" value="delete">
	  	  <input class="logout" type="submit" value="LogOut">	
  	  </form>
    </li>
  </ul>

</div>