<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Games, Games, Games</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/hangman_styles.css">
    <script src='/javascripts/jquery.js'></script>
    <script src='/javascripts/scripts.js'></script>
   	<script src='/javascripts/hangman_scripts.js'></script>
</head>

<header>
	<div class ="clearfix nav">
		<div class="title">
			Games, Games, Games
		</div>

		<div>
			<% if current_user %>
				<%= erb :'_homepage_nav_for_users' %>
			<% else%>
				<%=false%>
			<% end %>
		</div>
	</div>	
</header>

<body>

	<%= yield %>
	
</body>

<footer>
	Developed by Karynn Tran Co - A WDI Production - November 2014
</footer>

</html>