

/*structure*/

/*structure 1*/
.hangman-header {
	width: 1000px;
	display: inline;
	margin: 0 auto;
}

.title {
	float:left;
	font-family: 'Sigmar One', cursive;
}


.scoreboard {
	width: 400px;
	height: 50px;
	border: 2px solid white;
	margin: 10px auto;
	text-align: center;
	float: right;
}

.game-header {
	color: darkblue;
}

/*structure 2*/

.start-game {
	text-decoration: none;
	background-color: white;
	font-size: 16px;
	color:orange;
	margin: 20px auto;
}

.game-board {
	width: 1000px;
	height: auto;
	display: inline-block;
	background-color: white;
	border: 2px solid darkblue;
	margin: 0 auto 5px auto;
	padding-bottom: 5px;
}

#game-status {
	color: orange;
}

.melting-snowman {
	width: 250px;
	height: 325px;
	margin: 10px 20px 10px 0;
	float: left;
}

#snowman {
	border-radius: 15px;
}


td {
	text-align: center;
	width: 500px;
}


/*structure 3*/
/*guesses*/

.user-input {
	width: 1000px;
	height: 175px;
	display: inline-block;
	border: 2px solid white;
	margin: 0 auto;
}

#guess-letter {
	margin: 0 10px;
	width: 600px;
	float: left;
	display: none;
}


#guess-word {
	display: none;
	margin: 0 10px;
	width: 300px;
	float: right;
}


button {
	padding: 2px;
	width: 40px;
	height: 40px;
	margin: 1px;
	text-align: center;
	border-radius: 15px;
	background-color: orange;
	color: white;
	font-size: 20px;
}

/*random word*/

.random-word {
	width: 650px;
	height: auto;
	padding: 10px 0;
	float: left;
}

#mystery-word div {
	display: inline-block;
	text-align: left;
}

em {
	margin-top: 10px;
}


/*clear fix*/

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */



.snowflake{
  position: absolute;
  color: blue;
  font-size: 5em;  
}


/*user css*/

.errors {
	color: red;
}