body {
	background-color: white;
	font-family: arial;
}

/*hangman*/

.melting-snowman {
	border: 2px solid lightgray;
	width: 300px;
	height:300px;
}

/*random word*/

#random-word div {
	display: inline-block;
	text-align: center;
}