body {
	background-color: #3366FF;
	margin-top: 35px;
	margin-bottom: 20px;
	font-family: arial;
	padding: 5px;
	color: white;
}

header {
	background-color: white;
	position: fixed;
	margin-top: 0px;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 35px;
	padding: 5px;
	text-align: right;
}

footer {
    position:fixed;
    height:20px;
    background-color:white;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
    padding: 5px;
    text-align: right;
    color: orange;
}

a {
	color: orange;
}

.nav {
	text-align: right;
}

.nav li {
	display: inline-block;
}

.current_user {
	color:lightgray;
	padding: 0 10px;
}

.logout {
	text-decoration: underline;
	color: orange;
	font-family: arial;
	font-size: 16px;
	background-color: white;
	border: none;
	padding: none;


}