<h1>This part is a hot mess. Under construction!!!</h1>

<table id="ttt-board">
	<!-- row 1 -->
	<tr>
		<td class="ttt r1-c1">
			<div>
				1-1
			</div>
		</td>

		<td class="ttt r1-c2">
			<div>
				1-2
			</div>
		</td>

		<td class="ttt r1-c3">
			<div>
				1-3
			</div>
		</td>

	</tr>

	<!-- row 2 -->
	<tr>

		<td class="ttt r2-c1">
			<div>
				2-1
			</div>
		</td>

		<td class="ttt r2-c2">
			<div>
				2-2
			</div>
		</td>

		<td class="ttt r2-c3">
			<div>
				2-3
			</div>
		</td>

	</tr>

	<!-- row 3 -->
	<tr>

		<td class="ttt r3-c1">
			<div>
				3-1
			</div>
		</td>

		<td class="ttt r3-c2">
			<div>
				3-3
			</div>			
		</td>

		<td class="ttt r3-c3">
			<div>
				3-3
			</div>				
		</td>
	</tr>
</table>