<h1>Sign Up</h1>

<% if @errors %>
  <div class="errors">
	    <ul>
	      <% @errors.each do |error|  %>
	       <li>
	      	  <%= error %>
	        </li>
	      <% end %>
	    </ul>
  </div>
<% end %>

<form action ="/users" method="post">
	<p>Pick a Username:</p> <input type="text" name="user[username]" placeholder="username">
	<p>Choose a Password:</p> <input type="password" name="password" placeholder="password">
	<p>Tell Us About Yourself:</p><textarea rows="10" cols="40" name="user[aboutme]" placeholder="Share fun facts!"></textarea>
	<p>Choose an Avatar!:</p> <input type="text" name="user[avatar]" placeholder="Add link to your image here">
	<input type="submit">
</form>

