<h1>Sign Up</h1>

<% if @errors %>
  <div class="errors">
	    <ul>
	      <% @errors.each do |error|  %>
	       <li>
	      	  <%= error %>
	        </li>
	      <% end %>
	    </ul>
  </div>
<% end %>

<form action ="/users" method="post">
	Pick a Username: <input type="text" name="user[username]" placeholder="username">
	Choose a Password: <input type="password" name="password" placeholder="password">
	Tell Us About Yourself: <input type="text" name="user[aboutme]" placeholder="username">
	Choose an Avatar!: <input type="text" name="user[avatar]" placeholder="username">
	<input type="submit">
</form>

