#divs for the hangman image

#div for incorrect guesses

#input for letter query

#input for whole word query

#show "You Win!" or "You Lose!"

<div class="melting-snowman">
  SNOWMAN
</div>

<div class="guesses">
  <input type="c"
</div>

