<h1>Melted Snowman</h1>

<!-- start game -->

<input class="start-game" type="submit" value="Start a Game">

<div class="clearfix game-board">
<!-- snowman -->

	<div class="melting-snowman">
		<img id="snowman" width="250px" height="auto" src="/images/snowman0.jpg"/>
	</div>

	<!-- random word is generated -->
	<div class="random-word">
		<h3>Your Mystery Word Is...</h3>
		<div id="mystery-word">
		</div>
	</div>

</div>


<div id="user-input">
<!-- guess a letter -->

	<div id="guessbox">
		<h3>Guess a letter?</h3>	
			<% @letters.each do |letter| %>
				<button class="guess-letter" data-letter="<%=letter%>">
					<%= letter %>
				</button>
			<% end %>
	</div>
	<br>

	<!-- guess the whole word -->

	<div id="guessbox">
		<h3>Guess the whole word?</h3>
		<form action="/hangman" method="post">
			<input type="text" name="word_guess" placeholder="Guess a letter" data-letter="word">
			<input class="guess-word" type="submit" value="Guess">
		</form>
	</div>

</div>

<!-- javascript -->


<script>
//  ** Onload Function ** //
$(function(){
	gameId = undefined; // startGame defines this
	$('.start-game').on("click", function(e){
    e.preventDefault(); // return false;    
    startGame();
  });

  $('.guess-letter').on('click', function(e) {
  	e.preventDefault();
  	var letter = $(this).data('letter');  
  	$.ajax({
  		url: '/hangman/letter-guess',
  		method: 'PATCH',
  		dataType: 'json',
  		data: {
  			guess: letter,
  			gameId: gameId
  		},
  		success: updateGameState
  			// console.log("happy")
  	});
  });

  $('.guess-word').on('click',function(e)
  	{
  	e.preventDefault();
  	var word = $(this).data('word');
  	$.ajax({
  		url: '/hangman/word-guess',
  		method: 'PATCH',
  		dataType: 'json',
  		data: {
  			guess: word,
  			gameId: gameId	
  		},
  		success: updateGameState

 	 });
  });
});
</script>