<!-- #divs for the hangman image

#div for incorrect guesses

#input for letter query

#input for whole word query

#show "You Win!" or "You Lose!" -->

<div class="melting-snowman">
  SNOWMAN
</div>

<!-- start game -->

<input class="start-game" type="submit" value="Start a Game">

<!-- guess a letter -->

<input class="letter-guess" type="submit" value="Guess a Letter">

<!-- guess the whole word -->

<input class="word-guess" type="submit" value="Guess the Whole Word">

<!-- random word is generated -->

<div id="random-word">
</div>