<!-- #divs for the hangman image

#div for incorrect guesses

#input for letter query

#input for whole word query

#show "You Win!" or "You Lose!" -->

<div class="melting-snowman">
  SNOWMAN
</div>


<div>
    <input class="letter-guess" type="submit" value="Guess a Letter">
</div>

<div>
    <input class="word-guess" type="submit" value="Guess the Whole Word">
</div>
