<div class="clearfix hangman-header">
<h1 class="title">Save the Snowman</h1>

<!-- scoreboard -->

<div class="scoreboard">
  <table>
    <tr>
      <td>Wins</td>
      <td>Losses</td>
    </tr>
    <tr>
      <td>
        <%wins = @games.select { |game| game.end_game == true } %>
        <%=wins.length%>
      </td>
      <td>
        <%losses = @games.select { |game| game.end_game == false } %>
        <%=losses.length%>
      </td>
    </tr>
  </table>
</div>
</div>



<!-- gameboard -->


<div class="clearfix game-board">
  
  <!-- start game -->

  <input class="start-game" type="submit" value="Start a Game">

  <!-- snowman -->

	<div class="melting-snowman" width="250px" height="400">
		<img id="snowman" width="250px" height="auto" src="/images/snowman0.jpg"/>
	</div>

  <!-- game status -->
  
  <h3 class="game-header">GAME STATUS</h3>
  <h5 class="game-header">Guess the word to make it snow!</h5>  
  <div id="game-status">
  </div>

	<!-- random word is generated -->
	<h3 class="game-header">YOUR MYSTERY WORD</h3>
  <div class="random-word">
		<div id="mystery-word">

		</div>
    <em>Hint: All the words are winter-themed!</em>  
	</div>

</div>


<div class="clearfix user-input">
<!-- guess a letter -->

	<div id="guess-letter">
		<h3>Guess a letter?</h3>	
			<% @letters.each do |letter| %>
				<button class="guess-letter" data-letter="<%=letter%>">
					<%= letter %>
				</button>
			<% end %>
	</div>

	<!-- guess the whole word -->

	<div id="guess-word">
		<h3>Guess the whole word?</h3>
		<form action="/hangman" method="post">
			<input id="guessInput" type="text" name="word_guess" placeholder="Guess a word">
			<input class="guess-word" type="submit" value="Guess">
		</form>
	</div>

</div>

</body>
</html>
