<!-- #divs for the hangman image

#div for incorrect guesses

#input for letter query

#input for whole word query

#show "You Win!" or "You Lose!" -->

<div class="melting-snowman">
  SNOWMAN
</div>

<!-- start game -->

	<input class="start-game" type="submit" value="Start a Game">

<!-- guess a letter -->

<form action="/hangman" method="post">
	<input type="text" name="letter_guess" placeholder="Guess a letter">
	<input class="letter-guess" type="submit" value="Guess a Letter">
</form>

<!-- guess the whole word -->

<form action="/hangman" method="post">
	<input type="text" name="word_guess" placeholder="Guess a letter">
	<input class="word-guess" type="submit" value="Guess the Whole Word">
</form>

<!-- random word is generated -->

<div id="random-word">
</div>